body {
    background-image: url(images/background.jpg); no-repeat;
    font-size: 50px;
}
.background {
    position: relative;
    width: 100%;
    no-repeat;
}
.logo {
  width: 500px;
  height: 150px;
}
#float_center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
