.logo {
    height: 150px;
    width: 500px;
}
body {
    background-image: url(images/background.jpg); no-repeat;
}
.background {
    position: relative;
    width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
div {
  text-align: center;
  position: relative;
  color: white;
  /*top: 100px;*/
  /*height: 600px;
  width: 500px;*/
  margin-left: 30%;
  margin-right: 30%;
}
.left1 {
  display: inline;
  margin: 0;
  width: 33%;
  height: 100px;
  color: white;
  background-color: transparent;
}
.left2 {
  display: inline;
  margin: 0;
  width: 33%;
  height: 100px;
  color: white;
  background-color: transparent;
}
h2 {
  color: white;
}
.button {
  background-color: transparent;
  border: black;
}
