.logo {
    height: 150px;
    width: 500px;
}
body {
    background-image: url(images/background.jpg); no-repeat;
}
.background {
    position: relative;
    width: 100%;
}
IMG.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
div {
  text-align: center;
  position: relative;
  background-color: white;
  /*top: 100px;*/
  /*height: 600px;
  width: 500px;*/
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30%;
}
.left {
      height: 150px;
      width: 120px;
      float: left;
      margin: 45px 0px 100px 94.5px;
      /* margin: top right bottom left; */
      border: 3px solid #FFFFFF;
      box-shadow: 7px 7px 40px #606060;
      outline: 10px solid #000;
      /* don't include outline when determining margin for positioning! */
}
