<html>
  <head>
    <title>EMOODJI</title>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="head">
      <h1><img class="logo" src="/images/logo.jpg" alt="logo" width="500" height="128"></h1>
    </div>
    <div class="visible">
      <h2>Music Playlist</h2>

      <h3> Create Account </h3>

      <form method="post" action="/">
          <p>Username: <input type="text" name="username" value="{{existing_username}}"/></p>
          <p>First Name: <input type="text" name="first_name"/></p>
          <p>Last Name: <input type="text" name="last_name"/></p>
        <div class="left">
          <input type="checkbox" name="song" value="alternative">Alternative<br>
          <input type="checkbox" name="song" value="jazz">Jazz<br>
          <input type="checkbox" name="song" value="pop">Pop<br>
          <input type="checkbox" name="song" value="rock">Rock<br>
          <input type="checkbox" name="song" value="classical"> Classical <br>
          <input type="checkbox" name="song" value="hip-hop/r&#38;b">Hip-Hop/R&#38;B <br>
        </div>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
    </body>
  </html>

<style>
body {
    background-image: url(images/background.jpg);
    color: white;
}
<style/>
