<html>
  <head>
    <title>EMOODJI</title>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <h1><img src="/images/logo.jpg" alt="logo" width="500" height="128"></h1>
    <h2>Music Playlist</h2>

    <h3> Create Account </h3>

    <form method=post>
        <p>Username: <input type="text" name="username"/></p>
        <p>Email: <input type="text" name="email"/></p>
        <p>First Name: <input type="text" name="first_name"/></p>
        <p>Last Name: <input type="text" name="last_name"/></p>

    </form>

    <form action="demo_form.asp" method+"get">
      <input type="checkbox" name="song" value="Alternative">Alternative<br>
      <input type="checkbox" name="song" value="Jazz">Jazz<br>
      <input type="checkbox" name="song" value="Pop">Pop<br>
      <input type="checkbox" name="song" value="Rock">Rock<br>
      <input type="checkbox" name="song"value="Classical"> Classical <br>
      <input type="checkbox" name="song" value="Hip-Hop/R&#38;B">Hip-Hop/R&#38;B <br>

      <button type="submit">Submit</button>

    </form>
  </body>
</html>
