<html>
  <head>
    <title>EMOODJI</title>
    <link href="stylesheets/playlist.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="center">
      <div>
        <a href= "/" style="border:none;"><img class="logo" src="/images/logo.jpg" alt="logo" width="500" height="128"></a>
        <h2>Music Playlist</h2>

        <h4> Welcome to your {{mood}} playlist </h4>
        {% if mood == 'international'%}
              <iframe id="ytplayer" type="text/html" width="540" height="290"
            src="https://www.youtube.com/embed/playlist?list=PLkEo0sUWKtWWrT-JH7bVnjwwForftXTEn"frameborder="0"></iframe>


        {% else %}
          {% for link in links %}
            <p> </p>
            <iframe id="ytplayer" type="text/html" width="540" height="290"
              src="https://www.youtube.com/embed/{{link}}" frameborder="0"></iframe>
              <!-- <h4> {{link}} </h4> -->

          {% endfor %}
        {% endif %}
  </div>
</body>
</html>

<style>
body {
    background-image: url(images/background.jpg);
    color: white;
}
<style/>
